@using ihff.Models
@model Tuple<List<WLEventModel>, Order>

@{
    ViewBag.Title = "Order completed";
}

<h1>Order Completed</h1>
<h3>Thank you @Model.Item2.Name for your reservation of:</h3>
<table id="TableComplete">
    <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Activity</td>
            <td>Date/Time</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Price Total</td>
        </tr>
    </thead>
    <tbody>
       @{float totalprice = 0;}
        @foreach (WLEventModel show in Model.Item1) {
            float pricePerPerson = show.Price / show.Quantity;
            
            <tr>
                @if (show.Type == "Film") {
                    <td><img src="@Url.Content(String.Format("~/Content/images/Films/{0}.png", show.Id))" width="60" height="90" /></td>
                    <td>@show.Name</td>
                    <td>@show.Type</td>
                    <td>@show.DayTimeLocation.Day @show.DayTimeLocation.Time</td>
                    <td>@show.Quantity x</td>
                    <td>€ @string.Format("{00:n2}", pricePerPerson)</td>
                    <td>€ @string.Format("{00:n2}", show.Price)</td>
                totalprice = totalprice + show.Price;
            }

                @if (show.Type == "Restaurant") {
                    <td><img src="@Url.Content(String.Format("~/Content/images/Restaurants/{0}.png", show.Id))" width="60" height="90" /></td>
                    <td>@show.Name</td>
                    <td>@show.Type</td>
                    <td>@show.Day @show.Time</td>
                    <td>@show.Quantity x</td>
                    <td></td>
                    <td>€ @string.Format("{00:n2}", show.Price)</td>
                    totalprice = totalprice + show.Price;
                    }
    </tr>
        }
            </tbody>
        </table>
        <p id="WLTotal">Price Total: € @string.Format("{0:n2}", totalprice)</p>
            @if (Model.Item2.PaymentMethod == "Counter")
            {
                <p>You can pick up your purchase at the counter of any participating venue</p>
            }
        
        <div class="clearfix"></div>
        
