@using ihff.Models
@model Tuple<List<WLEventModel>, Order>
@{
    ViewBag.Title = "Payment details";
}

<script>
    $(document).ready(function () {
        $("#CounterInfo").hide()
        $("#Bank").hide()
        $('input[type="Radio"]').click(
            function () {
                if ($(this).attr('id') == 'CounterBtn') {
                    $('#CounterInfo').show();
                }

                else {
                    $('#CounterInfo').hide();
                }
            });

        $('input[type="Radio"]').click(
    function () {
        if ($(this).attr('id') == 'IDealBtn') {
            $('#Bank').show();
        }

        else {
            $('#Bank').hide();
        }
    });
    });
</script>
@using (Html.BeginForm())
{
    <h2>Payment details</h2>
    <table id="TableOrder">
        <thead>
            <tr>
                <td>Name</td>
                <td>Activity</td>
                <td>Date/Time</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            @{ float pricetotal = 0;}

            @{List<WLEventModel> wishlist = (List<WLEventModel>)Session["WishlistSession"];}

            @foreach (WLEventModel show in wishlist)
            {


                float pricePerPerson = show.Price / show.Quantity;
                <tr>
                    <td>@show.Name</td>
                    <td>@show.Type</td>
                    <td>@show.DayTimeLocation.Day <br /> @show.DayTimeLocation.Time</td>
                    <td>@show.Quantity x</td>
                    <td>€ @String.Format("{00:n2}", pricePerPerson)</td>
                    <td>€ @String.Format("{00:n2}", show.Price)</td>
                    @{pricetotal = pricetotal + show.Price; }
                </tr>
            }
        </tbody>
    </table>
    <p id="OrderTotal">Price Total: € @String.Format("{00:n2}", pricetotal)</p>

    <p>You can pick up your ticket(s) at the counter of your chosen cinema and/or restaurant</p>
    <div id="Payment">
        <div id="PayMeth">Payment method:</div>
        @Html.RadioButton("PaymentMethod", "Counter", new { id = "CounterBtn" })<span> Counter   </span>
        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <span id="CounterInfo">   At the counter, you can pay with debit card or Creditcard.</span><br />
        @Html.RadioButton("PaymentMethod", "PayPal")<span> PayPal</span><br />
        @Html.RadioButton("PaymentMethod", "IDeal", new { id = "IDealBtn" })<span> I-Deal   </span><br />
        @Html.ValidationMessageFor(m => m.Item2.PaymentMethod)

    </div>
    <div id="Bank">
        <span>Select Bank: </span>
        <span id="BankSelect">
            <select name="Banks">
                <option value="1">ABN AMRO</option>
                <option value="2">ASN Bank</option>
                <option value="3">Bunq</option>
                <option value="4">ING</option>
                <option value="5">Knab</option>
                <option value="6">Rabobank</option>
                <option value="7">Regiobank</option>
                <option value="8">SNS Bank</option>
                <option value="9">Tridios Bank</option>
                <option value="10">Van Lanschot</option>
            </select>
        </span>
    </div>

    <p>To complete your order, the following information is needed.</p>
    @Html.ValidationSummary()
    @Html.Hidden("TotalPrice", pricetotal);
    <div id="InputName"><div id="NameInfo">Name:</div>
    @Html.TextBoxFor(m => m.Item2.Name, new { @class = "input"})
    @Html.ValidationMessageFor(m => m.Item2.Name)</div>
    <div id="InputEmail"><div id="EmailInfo">e-Mail:</div>
    @Html.TextBoxFor(m => m.Item2.Email, new { @class = "input"})
    @Html.ValidationMessageFor(m => m.Item2.Email)</div>
    <p id="MailExtra">Your confirmation will be sent to you by email.</p>
    <button type="submit" class="button" id="PayButton" name="PayOrder" value="Order">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Pay
    </button>
}
<div class="clearfix"></div>
