@using ihff.Models
@model  List<WLEventModel>
@{
    ViewBag.Title = "Wishlist";
}
<script>
    $(document).ready(function () {
        $("#WishListEmail").hide();

        $("#Save").click(function () {
            $("#WishListEmail").show();
        });
    });
</script>

</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
</div>
<main>

    @using (Html.BeginForm())
    {
        <h2>Wish List</h2>
        @*<p>Would you like to save your wish list? <a href="#" id="Save">Click here!</a></p>
            <form id="WishListEmail">
                <p>Wish list code: (code)</p>
                <p>To retrieve your Wish list enter the code on your next visit of the website</p>
                <br />
                <p>If you want to receive your Wish list code via e-mail, enter your e-mail address.</p>
                <input type="text" id="EmailInfo" placeholder="e-Mail address" />
            </form>*@
        <table id="TableWL">
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Activity</td>
                    <td>Date/Time</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @{float totalPrice = 0;}

                @{List<WLEventModel> wishlist = (List<WLEventModel>)Session["WishlistSession"];}

                @if (wishlist == null)
                {
                }
                else
                {
                    foreach (WLEventModel show in wishlist)
                    {
                        float pricePerPerson = show.Price / show.Quantity;
                        <tr>
                            @if (show.Type == "Film")
                            {

                                <td><img src="@Url.Content(String.Format("~/Content/images/Films/{0}.png", show.Id))" alt="Filmposter" width="60" height="90" /></td>
                                <td>@show.Name</td>
                                <td>@show.Type</td>
                                <td>
                                    @show.DayTimeLocation.Day <br />
                                    @show.DayTimeLocation.Time
                                </td>
                                <td>@show.Quantity x</td>
                                <td>€ @string.Format("{0:n2}", pricePerPerson)</td>
                                <td>€ @string.Format("{0:n2}", show.Price)</td>
                                <td><button type="button" class="button" onclick="@("location.href='"+ Url.Action("DeleteWishlistItem","Wishlist", show)+ "'")">Remove</button></td>
                                totalPrice = totalPrice + show.Price;
                            }
                        </tr>
                    }
                }


            </tbody>
        </table>
        if (wishlist == null)
        {
            <h2>Wishlist is empty!</h2>
        }
        <p id="WLTotal">Price Total: € @string.Format("{0:n2}", totalPrice)</p>
        <div id="tijdelijk"></div>

        <button type="submit" class="button" id="OrderButton" name="ShowWishlist" value="AddToOrder">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Wish List
        </button>

        <div class="clearfix"></div>

    }
