@using ihff.Models;
@model Tuple<List<RestaurantInformatieModel>, WLEventModel>

@foreach (RestaurantInformatieModel restaurantInfo in Model.Item1)
{
    foreach (Restaurant restaurant in restaurantInfo.Restaurant)
    {
        ViewBag.Title = restaurant.Name;
    }
}

<script>
    $(document).ready(function () {
        $("#TicketInfo").hide();
        $(".fa-info-circle").hover(
            function () {
                $("#TicketInfo").show();
            }, function () {
                $("#TicketInfo").hide();
            });
    });

</script>


@using (Html.BeginForm())
{
    float rating;
    foreach (RestaurantInformatieModel restaurantInfo in Model.Item1)
    {
        foreach (Restaurant restaurant in restaurantInfo.Restaurant)
        {
            foreach (RestaurantAddressModel address in restaurantInfo.Address)
            {
                @Html.Hidden("Id", restaurant.Restaurant_Id)
                @Html.Hidden("Name", restaurant.Name)

                rating = (float)restaurant.Rating / 10;

                <div id="FilmPoster">
                    <img src="@Url.Content(String.Format("~/Content/images/Restaurants/{0}.png", restaurant.Restaurant_Id))" width="204" height="300" />
                </div>
                <div id="ResInfo">
                    <h3>@restaurant.Name</h3>
                    <span id="titel"><i class="fa fa-star" aria-hidden="true"></i> @string.Format("{00:n1}", rating)</span>
                    <span id="genre">@address.City</span>
                    <div id="description">
                        @restaurant.FullDescription
                    </div>
                    <div id="Kitchen">Kitchen: @restaurant.Kitchen</div>
                    <div id="Information">
                        <h4>Opening hours:</h4>
                        <p>Lunch: @restaurant.LunchHours Diner: @restaurant.DinnerHours</p>
                    </div>
                    <div id="Address">
                        <h4>Address:</h4>
                        <p>@address.Address</p>
                        <p>@address.Postcode @address.City</p>
                    </div>
                    <span id="imdb">
                        For more information <a href="@restaurant.Hyperlink" target="_blank">Click Here</a>
                        to visit the website of this restuarant.
                    </span>
                    <div id="PriceInfo">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <div>
                            The indicated price is the cost for reservation.
                            This sum will be deducted from your lunch or dinner bill.
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            }
        }
    }
    <div class="ResOrder">
        <div id="ResDay">
            <span>
                @Html.RadioButton("Day", "Wednesday", new { @class = "NoM" }) Wednesday
                @Html.RadioButton("Day", "Thursday") Thursday
                @Html.RadioButton("Day", "Friday") Friday
                @Html.RadioButton("Day", "Saterday", new { @class = "NoM" }) Saturday
                @Html.RadioButton("Day", "Sunday", new { @class = "MoM" }) Sunday
            </span>
        </div>

        <div id="Middle">
            <div>
                Time: @Html.DropDownList("Time", new List<SelectListItem>()
                            {
                                 new SelectListItem() { Text= "11:00 - 11:30", Value = "11:00 - 11:30", Selected = true },
                                 new SelectListItem() { Text= "11:30 - 12:00", Value = "11:30 - 12:00" },
                                 new SelectListItem() { Text= "12:00 - 12:30", Value = "12:00 - 12:30" },
                                 new SelectListItem() { Text= "12:30 - 13:00", Value = "12:30 - 13:00"},
                                 new SelectListItem() { Text= "13:00 - 13:30", Value = "13:00 - 13:30" },
                                 new SelectListItem() { Text= "13:30 - 14:00", Value = "13:30 - 14:00" },
                                 new SelectListItem() { Text= "17:00 - 17:30", Value = "17:00 - 17:30"},
                                 new SelectListItem() { Text= "17:30 - 18:00", Value = "17:30 - 18:00" },
                                 new SelectListItem() { Text= "18:00 - 18:30", Value = "18:00 - 18:30" },
                                 new SelectListItem() { Text= "18:30 - 19:00", Value = "18:30 - 19:00"},
                                 new SelectListItem() { Text= "19:00 - 19:30", Value = "19:00 - 19:30" },
                                 new SelectListItem() { Text= "19:30 - 20:00", Value = "19:30 - 20:00" },
                                 new SelectListItem() { Text= "20:00 - 20:30", Value = "20:00 - 20:30"},
                                 new SelectListItem() { Text= "20:30 - 21:00", Value = "20:30 - 21:00"},
                            }, new { @id = "selection" })
            </div>
            <div>
                Quantity: @Html.DropDownList("Quantity", new List<SelectListItem>()
                            {
                                 new SelectListItem() { Text= "1", Value = "1", Selected = true },
                                 new SelectListItem() { Text= "2", Value = "2" },
                                 new SelectListItem() { Text= "3", Value = "3" },
                                 new SelectListItem() { Text= "4", Value = "4"},
                            }, new { @id = "selection" })
            </div>
        </div>

        <div id="right">
            <span class="price">Price: €<span id="totalPrice">10.00</span></span>

            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <p id="TicketInfo">
                Reservation must be added
                to the wish list before
                purchase.
            </p>
            <button type="submit" class="button" name="ShowFilmInformation" value="AddToWishlist">
                <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Wishlist
            </button>
        </div>
    </div>
}

<div class="bottomsection">
    @foreach (RestaurantInformatieModel restaurantInfo in Model.Item1)
    {
        foreach (Restaurant restaurant in restaurantInfo.Restaurant)
        {
            
            if (restaurant.Restaurant_Id == 4013)
            {
                <img src="~/Content/images/Cross_Selling/Crosselling_Dijkers_Walle.jpg" />
            }
            else if (restaurant.Restaurant_Id == 4014)
            {
                <img src="~/Content/images/Cross_Selling/Crosselling_Uitkijk_Instellar.jpg" />
            }
            else if (restaurant.Restaurant_Id == 4015)
            {
                <img src="~/Content/images/Cross_Selling/Crosselling_Ratatouille_Her.jpg" />
            }
            else
            {
                <img src="~/Content/images/Cross_Selling/Crosselling_Minority.png" />
            }

            //Check the restaurant for the right google maps
            if (restaurant.Location_Id == 5008)
            {
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.4260201765933!2d4.636093316119038!3d52.38082697978816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDIyJzUxLjAiTiA0wrAzOCcxNy44IkU!5e0!3m2!1sen!2snl!4v1464953617941" width="557" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
            }
            else if (restaurant.Location_Id == 5009)
            {
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.4422363724607!2d4.634429316119069!3d52.38053297978815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDIyJzQ5LjkiTiA0wrAzOCcxMS44IkU!5e0!3m2!1sen!2snl!4v1464953664430" width="557" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
            }
            else if (restaurant.Location_Id == 5010)
            {
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.812188142854!2d4.6021453161199!3d52.41007997979359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDI0JzM2LjMiTiA0wrAzNicxNS42IkU!5e0!3m2!1sen!2snl!4v1464953697784" width="557" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
            }
            else if (restaurant.Location_Id == 5011)
            {
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.5432827876875!2d4.635484316118975!3d52.37870097978768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDIyJzQzLjMiTiA0wrAzOCcxNS42IkU!5e0!3m2!1sen!2snl!4v1464953719554" width="557" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
            }
            else if (restaurant.Location_Id == 5012)
            {
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.996923054299!2d4.620120316119809!3d52.40673197979286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDI0JzI0LjIiTiA0wrAzNycyMC4zIkU!5e0!3m2!1sen!2snl!4v1464953740422" width="557" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
            }
        }
    }
</div>
    


<div class="clearfix"></div>
