@using ihff.Models;
@model Tuple<List<SpecialInformationModel>, WLEventModel>

@foreach (SpecialInformationModel specialInfo in Model.Item1)
{
    foreach (Special special in specialInfo.Special)
    {
        ViewBag.Title = special.Name;
    }
}

<script>
    $(document).ready(function () {
        $("#SpecialTicketInfo").hide()
        $(".fa-info-circle").hover(
            function () {
                $("#SpecialTicketInfo").show();
            }, function () {
                $("#SpecialTicketInfo").hide();
            });
    })
</script>
@using (Html.BeginForm())
{
    foreach (SpecialInformationModel specialInfo in Model.Item1)
    {
        foreach (Special special in specialInfo.Special)
        {
            foreach (DayTimeLocationModel DTL in specialInfo.DTL)
            {
                @Html.Hidden("Id", special.Special_Id)
                @Html.Hidden("Name", special.Name)
                @Html.Hidden("DayTimeLocationModel", DTL)
                
                <div id="FilmPoster">
                    <img src="@Url.Content(String.Format("~/Content/images/Specials/{0}.png", special.Special_Id))" alt=" film poster" width="204" height="300" />
                </div>
                <div id="FilmInfo">
                    <h3>@special.Name</h3>
                    @if (special.Special_Id == 2002 || special.Special_Id == 2006)
                    {
                        <span id="genre">Discussion | @DTL.Day</span>
                    }
                    else
                    {
                        <span id="genre">Lecture | @DTL.Day</span>
                    }
                    <div id="description">
                        @special.FullDescription
                    </div>
                    @if (special.Special_Id == 2002 || special.Special_Id == 2006)
                    {
                        <div>Led by: @special.Salutation @special.Led_By</div>
                    }
                    else
                    {
                        <div>Given by: @special.Salutation @special.Led_By</div>
                    }
                </div>
            }
        }
    }
    <div class="clearfix"></div>

    <div action="" id="filmorder">
        <div id="left">
            @foreach (SpecialInformationModel specialInfo in Model.Item1)
            {
                foreach (DayTimeLocationModel DTL in specialInfo.DTL)
                {
                    <p>@DTL.Day | @DTL.Time | @DTL.Location</p>
                }
            }

        </div>
        <div id="right">
            Quantity
            @Html.DropDownList("Quantity", new List<SelectListItem>()
                            {
                                 new SelectListItem() { Text= "1", Value = "1", Selected = true },
                                 new SelectListItem() { Text= "2", Value = "2" },
                                 new SelectListItem() { Text= "3", Value = "3" },
                                 new SelectListItem() { Text= "4", Value = "4"},
                            }, new { @id = "selection" })
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <p id="SpecialTicketInfo">
                Tickets must be added
                to the wish list before
                purchase.
            </p>
            <button type="submit" class="button">
                <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart
            </button>
        </div>
    </div>
}
</main>
<!---<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
<div>>-->
<main>

    <div class="clearfix"></div>
